.content{
    width:100%;
    height:100%;
    background:linear-gradient(45deg,#E6FFFC 0%,#E6FFFC 100%) ;
    position: relative;
    .flexbox;
    justify-content: center;
    overflow: hidden;
    .logo{
        width:138px;
        position: absolute;
        top:40px;
        left:60px;
        z-index: 2;
    }
    .contentbg{
        width:100%;
        position: absolute;
        left:0;
        top:0;
        z-index:1;
    }
    .pwd-content{
        width:240px;
        position: relative;
        .pwdicon{
            padding:12px;
            position: absolute;
            right:14px;
            bottom: 8px;
            cursor: pointer;
            background: url(~@_/assets/img/login/pwdh.png) no-repeat right  center;
            background-size:20px 20px;
            &.showicon{
                background: url(~@_/assets/img/login/pwds.png) no-repeat right center;
                background-size:20px 20px;
            }
        }
    }
    .maincontent{
        width: 53.2292vw;
        height: 50vh;
        min-width:800px;
        min-height: 350px;
        background: #fff;
        border-radius:24px;
        z-index: 6;
        .flexbox;
        .left{
            width:50%;
            height: 100%;
            .flexbox;
            justify-content: center;
            .left-img{
                width: 100%;
                height: 100%;
            }
        }
        .right{
            width:50%;
            padding-left: 5.5729vw;
            .title{
                font-size:30px;
                color:#00DFC0;
                line-height: 1;
            }
            .loginform{
                input{
                    width:240px;
                    height:40px;
                    border:1px solid #00DFC0;
                    color:#00DFC0;
                    border-radius: 4px;
                    margin-top: 4.2689vh;
                    padding-left:40px;
                }
                .username:focus,.username.focus{
                    background: url(~@_/assets/img/login/user.png) no-repeat 14px center;
                    background-size:16px 16px;
                }
                .username{
                    background: url(~@_/assets/img/login/userc.png) no-repeat 18px center;
                    background-size:19px 19px;
                }
                .password:focus,.password.focus{
                    background: url(~@_/assets/img/login/pwd.png) no-repeat 18px center;
                    background-size:14px 14px;
                }
                .password{
                    background: url(~@_/assets/img/login/pwdc.png) no-repeat 18px center;
                    background-size:19px 20px;
                }
                .error{
                    height:40px;
                    font-size:12px;
                    color:#ff6363;
                    line-height: 24px;
                    .errorsh{
                        display: flex;
                    }
                    .erroricon{
                        width:24px;
                        height:24px;
                        margin-right:2px;
                    }
                }
                .loginbtn{
                    width: 240px;
                    height: 40px;
                    line-height: 1;
                    border-radius: 6px;
                    background: linear-gradient(134deg, #00DFC0 0%, #00DFC0 100%);
                    box-shadow: 0px 2px 6px #00DFC0;
                    span{
                        padding:0 36px;
                    }
                    img{
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}